body {
    background-color: #081E57;
}
/* 背景 */
.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.back::before {
    content: '';
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-image: url("../static/images/bg.jpg");
    /* background-image: url("../static/images/background.png"); */
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 圖畫 */
.frame {
    width: 60.725vw;
    height: 85.18vh;
    object-fit: contain;
    position: absolute;
    top: 7.4vh;
    left: 2.86vw;
}

.tears {
    width: 52vw;
    height: 73.4vh;
    object-fit: contain;
    position: absolute;
    top: 13.3vh;
    left: 7.03vw;
}

/* 文字說明 */
.right_container {
    width: 30.7vw;
    height: 90vh;
    /* border: solid 4px #333; */
    position: absolute;
    top: 3.24vh;
    left: 66.15vw;
}

#description {
    width: 29vw;
    font-family: Microsoft JhengHei,sans-serif;
    font-size: 2.6vh; 
    /* 28px */
    line-height: 4vh;
    color: white;
    margin-top: 7.87vh;
    visibility: hidden;
}

/* 手勢gif */
#gesture {
    height: 16.6vh;
    object-fit: contain;
    margin-top: 7.4vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;    
}

/* 提示框 */
.hint {
    border: 2px solid #FCC419;
    border-radius: 20px;
    margin-top: 7.4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* animate */
    visibility: hidden;
    /* animation: fadeInRight;
    animation-delay: 1s;
    animation-duration: 2s; */
}
#hint_bulb {
    height: 4.6vh;
    object-fit: contain;
    position: relative;
    left: 1.05vw;

}

#hint_text {
    font-family: Microsoft JhengHei,sans-serif;
    font-size: 2.22vh; 
    /* 24px */
    color: white;
    position: relative;
    left: 2.2vw;
}

/* icons互動 */
.reaction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#icon_anemoscope {
    width: 6vh;
    object-fit: contain;
    margin-left: 3.5vw;
}

#icon_compass {
    width: 9.2vh;
    object-fit: contain;
    margin-left: 3.5vw;
}

.icons_text {
    font-family: Microsoft JhengHei,sans-serif;
    font-size: 2.6vh; 
    /* 28px */
    line-height: 4vh;
    color: white;
    display: inline-block;

    position: relative;
    left: 1vw;
}